.DS_Store
__pycache__
tests/*.xlsx
*.sublime-*
/docs/_build/
nosetests.xml
*.egg-info/
coverage/
dist/
*.pyc
/.hgtags
/.hgignore
build/
/.coverage
/.tox/
/docs/draft/
*~
test_reports/*latest.ttl
prepare_changelog.sh
/test.ttl
/run-test-*.sh
/test-*.ttl
/test-*.nt
*.ldif
xlsx-test2.xlsx
xlsx-test3.xlsx
env/
junit/
~$*
*.whl
.test/
ldap.log
test-ldap-*.nt
README.html
raw-data-*.ttl
/xlsx-test3.ttl
