option==2.1.0
boto3==1.24.70
boto3-stubs==1.24.70
botocore==1.27.70
pandas==1.4.4
numpy==1.23.3
data-science-types==0.2.23
python-dateutil==2.8.2
rdflib==6.2.0
owlrl @ git+https://github.com/EKGF/OWL-RL.git
requests==2.28.1
six==1.16.0
SPARQLWrapper==2.0.0
stringcase==1.2.0
humps==0.2.2
argparse==1.4.0
setuptools==65.3.0
inflection==0.5.1
ldap3==2.9.1
pytest==7.1.3
pyasn1==0.4.8
xlrd==2.0.1
openpyxl==3.0.10
binaryio==1.0.0
mdutils==1.4.0
mkdocs_gen_files==0.4.0
