boto3==1.14.60
boto3-stubs==1.14.60.0
botocore==1.17.60
pandas==1.1.2
numpy==1.19.2
data-science-types==0.2.17
python-dateutil==2.8.1
rdflib==5.0.0
owlrl==5.2.1
requests==2.24.0
six==1.15.0
SPARQLWrapper==1.8.5
stringcase==1.2.0
humps==0.2.2
argparse==1.4.0
setuptools==50.3.0
inflection==0.5.1
ldap3==2.8.1
pytest==6.0.2
pyasn1==0.4.8
xlrd==1.2.0
