# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Build & Test

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:

  test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python_version: [3.13.0]
    steps:
      - uses: actions/checkout@v4

      - name: Install uv
        uses: astral-sh/setup-uv@v3
        with:
            enable-cache: true
            cache-dependency-glob: "uv.lock"

      - name: Set up Python ${{ matrix.python_version }}
        run: uv python install ${{ matrix.python_version }}

      - name: Display Python version
        run: python -c "import sys; print(sys.version)"

      - name: Install dependencies
        run: |
          uv sync --all-extras --dev

      - name: Format check with ruff
        run: |
          uv run ruff format --check .

      - name: Lint with ruff
        run: |
          uv run ruff check .

      - name: Type check with mypy
        run: |
          uv run mypy src

      - name: Test with pytest
        run: |
          uv run pytest tests/ \
            --html=test-results-${{ matrix.python_version }}.html \
            --self-contained-html \
            --maxfail=2 \
            --tb=short

      - name: Upload pytest test results
        uses: actions/upload-artifact@v4
        with:
          name: test-results-${{ matrix.python_version }}
          path: test-results-${{ matrix.python_version }}.html
        # Use always() to always run this step to publish test results when there are test failures
        if: ${{ always() }}
